VS2013-Test/Testsfml/Testsfml.opensdf
VS2013-Test/Testsfml/Testsfml.sdf
VS2013-Test/Testsfml/Testsfml.sdf
VS2013-Test/Testsfml/Testsfml.sdf
*.sdf
*.sdf
VS2013-Test/Testsfml/Testsfml/Debug/Testsfml.tlog/link.read.1.tlog
VS2013-Test/Testsfml/Testsfml/Debug/vc120.idb
VS2013-Test/Testsfml/Testsfml/Debug/vc120.idb